.view-poll-container  {
  width: 70%;
  margin: 50px auto;
  .question-container {
    margin-bottom: 25px;
  }
  .option-container {
    display: flex;
    flexFlow: row;
    margin: 10px 0 10px 0;
  }
  .votes-container  {
    display: flex;
    margin-top: 10px;
  }
}