.add-option-button  {
  margin-top: 10px;
  margin-left: auto;
}

.option-box {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  .option-text  {
    width: 98%;
  }
  .option-close  {
    width: 5%;
    margin-top: auto;
    margin-left: auto;
  }
}